html,
body {
  marging: 0;
  font-family: Montserrat, sans-serif;
  background-color: #fbe3e3;
}

.fullpage {
  height: 100vh;
  overflow-y: hidden;
}

.pic-wrap {
    float: right;
    width: 70%;
    object-fit: cover;
    height: 100%;
}

.pic-wrap img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  float: left;
  background: #fbe3e3;
  width: 30%;
  height: 100vh;
  text-align: center;
  color: blue;
  font-size: 50px;
}

#title {
font-family: "preconnect", serif;
font
font-size: 2rem;
font-weight: bold;
margin-top: 1rem;
margin-bottom: 1rem;
margin-left: 2rem;
margin-right: 2rem;
}

#tienda {
  font-family: Helvetica Neuw, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
#serv {
  font-style: Montserrat, sans-serif;
  font-size: 1.1rem;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}


.btn {
  padding: 0.6rem 1.5rem;
  border:1.2px black solid;
  margin: 1rem 0.2rem 0;
  display: inline-inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  transition: background 1000ms ease;
  position: relative;
  bottom: -200px
}

.btn:hover {
  background: #f6c8c7;
  color: black;
}

.footer {
  float: left;
  text-align: center;
  background-color: lightgray;
  height: 8vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: 0rem;
}

.footer img{
  max-width: 2%;
  height: auto;
  margin-top: 1rem;
}

.ig:hover {
  opacity:0.3;
}
.ama:hover {
  opacity: 0.3;
}

@media only screen and (max-width:920px) {
  .fullpage {
    height: auto;
    overflow-y: visible;
  }
  .pic-wrap {
    display: inline-block;
    width: 100%;
    height: 50vh;
  }
  #title{
    margin-top: 1rem;
  }
  #tienda{
    margin-top: 1.5rem;
  }
  .content {
    float: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .btn{
    position: relative;
    bottom: 10px;

  }
  .footer {
    height: 8vh;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-left: 0rem;
  }
  .ig {
    padding: 0rem 0rem;
  }

}
